
<% @courses.each do |course| %>
  <div class="col-md-4 column">
    <%= image_tag course.image_url(:thumb).to_s %><br />
    <%= course.title %><br />
    <%#= course.description %>
    <%= link_to 'View Details', course_path(course), class: "btn btn-link" %>
    <% if current_user == course.user %>
      <%= link_to 'Edit', edit_course_path(course), class: "btn btn-link" %>
      <%= link_to 'Delete', course_path(course),
            method: :delete,
            data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
    <% end %>
  </div>


<% end %>

