<%= simple_form_for( @course, html: {multipart: true} ) do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <label>Category <span>*</span></label>
    <%= f.select(:category_id,Category.all.collect{|d| [d.name,d.id]}, {:include_blank => 'Select a Category'}, :id => "category_id") %>
    <br />
    <label>SubCategory<span>*</span></label>
    <%= f.select(:sub_category_id,  "" , {:include_blank => 'Select a Category first'}, :id => "sub_category_id") %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :remote_image_url, "or Image URL " %><br>
    <%= f.text_area :remote_image_url %>
  </p>

  <p>
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :sale_price %>
    <%= f.text_field :sale_price %>
  </p>

  <p>
    <%= f.label "Private" %> <br />
    <%= f.check_box :is_private %> <br />
  </p>

  <p>
  <%= link_to 'Cancel', courses_path, class: "btn btn-link" %>
    <%= f.submit %>
  </p>

<% end %>

