<%= simple_form_for( @course, html: {multipart: true} ) do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "field">
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_black: true %>
  </div>

  <div class = "field">
  <%= f.label :sub_category_id %>
  <%= f.grouped_collection_select :sub_category_id, Category.order(:name), :sub_categories, :name, :id, :name, include_black: true %>
  </div>

  <br />

  <p>
    <br />
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :remote_image_url, "or Image URL " %><br>
    <%= f.text_area :remote_image_url %>
  </p>

  <p>
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url %>
  </p>

  <%#= f.input :category, {collection: Category.all, prompt:"Select Category" } %>
  <%#= f.input :sub_category, :label_html => { :class => 'subcategory_label_class' } do %>
    <%#= f.grouped_collection_select :sub_category_id, Category.order(:name), :sub_categories, :name, :id, :name, include_blank: true %>
  <%# end %>

  <p>
  <%= link_to 'Cancel', courses_path, class: "btn btn-link" %>
    <%= f.submit %>
  </p>

<% end %>
