<% if @course.youtube_url != "" %>
  <%= embed(@course.youtube_url) %>
<% else %>
  <%= image_tag @course.image_url(:full).to_s %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<% if current_user == @course.user %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-link" %>
<% end %>
<%= link_to 'Back', courses_path, class: "btn btn-link" %>

