<%= image_tag @course.image_url(:full).to_s %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<% if current_user == @course.user %>
  <%= link_to 'Edit', edit_course_path(@course) %>
<% end %>
<%= link_to 'Back', courses_path %>

